@import "~bootstrap/scss/bootstrap";
.flex-fill {
  flex-grow: 1;
}

.flex-shrink {
  flex-shrink: 1;
  flex-grow: 0;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-end {
  justify-content: flex-end;
}

.stretch-hw {
  height: 100%;
  width: 100%;
}
.stretch-h {
  height: 100%;
}

.no-gutters {
  padding: 0;
}

.header {
  background-color: #12558f;
  color: white;
  z-index: 9999;
  h2,
  h3 {
    padding: 5px;
    vertical-align: middle;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }
  .header-dropdown {
    float: right;
  }
}

.sidebar {
  background-color: #93aab8;
  color: white;
  z-index: 9000;
  height: 100%;
  h4 {
    padding: 10px;
  }
}

.checkinout {
  .checkinout-search {
    display: block;
    padding: 15% 25%;
    .error-text {
      width: fit-content;
      color: red;
      margin: -7% auto;
    }
    & > * {
      display: block;
      margin: 10% auto;
    }
  }
  .checkinout-viewuser {
    margin: 0 15px;
    .row {
      margin-top: 3em;
    }
    .current-table {
      border: 1px solid black;
      height: 300px;
      width: 100%;
    }
    .checkout-table-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .checkout-inv-table {
      border: 1px solid black;
      height: 300px;
      width: 67%;
    }
    .checkout-cart-table {
      border: 1px solid black;
      height: 300px;
      width: 32%;
    }
    .page-menu {
      justify-content: space-between;
    }
    .checkinout-buttons {
      justify-content: space-evenly;
    }
  }
}

.modal-header {
  background-color: #12558f;
  color: white;
}
