@import "~bootstrap/scss/bootstrap";
.flex-fill {
  flex-grow: 1;
}

.flex-shrink {
  flex-shrink: 1;
  flex-grow: 0;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.stretch-hw {
  height: 100%;
  width: 100%;
}
.stretch-h {
  height: 100%;
}

.no-gutters {
  padding: 0;
}

.header {
  background-color: #12558f;
  color: white;
  z-index: 9999;
  h2,
  h3 {
    padding: 5px;
    vertical-align: middle;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }
  .header-dropdown {
    float: right;
  }
}

.userspage {
  background-color: white;
  padding-left: 50px;
  h1 {
    padding-top: 10px;
    padding-bottom: 30px;
  }
}

.sidebar {
  background-color: #93aab8;
  color: white;
  z-index: 9000;
  height: 100%;
  h4 {
    padding: 10px;
  }
}

.checkinout {
  .checkinout-search {
    display: block;
    padding: 15% 25%;
    & > * {
      display: block;
      margin: 10% auto;
      // margin: 0 auto;
      // margin: 15px;
    }
  }
}
