@import "~bootstrap/scss/bootstrap";
.flex-grow {
  flex-grow: 1;
}

.flex-shrink {
  flex-shrink: 1;
  flex-grow: 0;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-end {
  justify-content: flex-end;
}

.stretch-hw {
  height: 100%;
  width: 100%;
}
.stretch-h {
  height: 100%;
}

.no-gutters {
  padding: 0;
}

.error-text {
  width: fit-content;
  color: red;
}

.modal-label-error-text {
  float: right;
}

.header {
  background-color: #12558f;
  color: white;
  z-index: 11;
  h2,
  h3 {
    padding: 5px;
    vertical-align: middle;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }
  .header-dropdown {
    float: right;
  }
}

.sidebar {
  background-color: #93aab8;
  color: white;
  z-index: 10;
  height: 100%;
  h4 {
    padding: 10px;
  }
}

.checkinout {
  .checkinout-search {
    display: block;
    padding: 15% 25%;
    .error-text {
      margin: -7% auto;
    }
    & > * {
      display: block;
      margin: 10% auto;
    }
    > h1 {
      text-align: center;
    }
  }
  .checkinout-viewuser {
    margin: 0 15px;
    .row {
      margin-top: 3em;
    }
    .current-table-container {
      height: 400px;
      width: 100%;
    }
    .checkout-table-wrapper {
      width: 100%;
      height: 400px;
      display: flex;
      justify-content: space-between;

      > div {
        display: flex;
        flex-direction: column;
      }
      .checkout-inv-table {
        width: 67%;
      }
      .checkout-cart-table {
        width: 32%;
      }
    }

    .page-menu {
      justify-content: space-between;
    }
    .checkinout-buttons {
      justify-content: space-evenly;
    }
  }
}

.modal-header {
  background-color: #12558f;
  color: white;
}
.table-header {
  background-color: #467591;
  color: white;
}

.page-content {
  padding: 9px 7%;
  margin-bottom: 20px;
}

.top-bar {
  margin-top: 10px;
  padding: 10px 2%;
}

.edit-button {
  padding-right: 5%;
  margin-right: 5%;
}
