@import "~bootstrap/scss/bootstrap";
.flex-grow {
  flex-grow: 1;
}

.flex-shrink {
  flex-shrink: 1;
  flex-grow: 0;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-end {
  justify-content: flex-end;
}

.stretch-hw {
  height: 100%;
  width: 100%;
}
.stretch-h {
  height: 100%;
}

.no-gutters {
  padding: 0;
}

.error-text {
  width: fit-content;
  color: red;
}

.modal-label-error-text {
  float: right;
}

.toolbarSetAllDate {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header {
  background: rgba(34, 99, 171, 1);
  background: -moz-linear-gradient(top, rgba(34, 99, 171, 1) 0%, rgba(21, 77, 142, 1) 100%);
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(34, 99, 171, 1)),
    color-stop(100%, rgba(21, 77, 142, 1))
  );
  background: -webkit-linear-gradient(top, rgba(34, 99, 171, 1) 0%, rgba(21, 77, 142, 1) 100%);
  background: -o-linear-gradient(top, rgba(34, 99, 171, 1) 0%, rgba(21, 77, 142, 1) 100%);
  background: -ms-linear-gradient(top, rgba(34, 99, 171, 1) 0%, rgba(21, 77, 142, 1) 100%);
  background: linear-gradient(to bottom, rgba(34, 99, 171, 1) 0%, rgba(21, 77, 142, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2263ab', endColorstr='#154d8e', GradientType=0 );
  color: white;
  z-index: 11;
  text-decoration-line: none;
  h2,
  a {
    vertical-align: bottom;
    color: white;
  }
  h3 {
    padding: 5px;
    vertical-align: middle;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }
  .header-dropdown {
    float: right;
  }
  .header-icon {
    padding-right: 5px;
  }
}

.sidebar {
  background-color: white;
  color: black;
  z-index: 10;
  height: 100%;
  h4 {
    padding: 10px;
  }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    background-color: #e2e2e2;
  }
  .nav-item {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
  }
}

.checkinout {
  .checkinout-search {
    display: block;
    padding: 15% 25%;
    .error-text {
      margin: -7% auto;
    }
    & > * {
      display: block;
      margin: 10% auto;
    }
    > h1 {
      text-align: center;
      font-weight: bold;
    }
  }
  .checkinout-viewuser {
    margin: 0 15px;
    .row {
      margin-top: 3em;
    }
    .current-table-container {
      min-height: 400px;
      width: 100%;
    }
    .checkout-table-wrapper {
      width: 100%;
      min-height: 400px;
      display: flex;
      justify-content: space-between;

      > div {
        display: flex;
        flex-direction: column;
      }
      .checkout-inv-table {
        width: 67%;
      }
      .checkout-cart-table {
        width: 32%;
      }
    }

    .page-menu {
      justify-content: space-between;
    }
    .checkinout-buttons {
      justify-content: space-evenly;
    }
  }
}

.modal-header {
  background: rgba(34, 99, 171, 1);
  background: -moz-linear-gradient(top, rgba(34, 99, 171, 1) 0%, rgba(21, 77, 142, 1) 100%);
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(34, 99, 171, 1)),
    color-stop(100%, rgba(21, 77, 142, 1))
  );
  background: -webkit-linear-gradient(top, rgba(34, 99, 171, 1) 0%, rgba(21, 77, 142, 1) 100%);
  background: -o-linear-gradient(top, rgba(34, 99, 171, 1) 0%, rgba(21, 77, 142, 1) 100%);
  background: -ms-linear-gradient(top, rgba(34, 99, 171, 1) 0%, rgba(21, 77, 142, 1) 100%);
  background: linear-gradient(to bottom, rgba(34, 99, 171, 1) 0%, rgba(21, 77, 142, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2263ab', endColorstr='#154d8e', GradientType=0 );
  color: white;
  :focus {
    outline: none;
  }
}
.table-header {
  background: rgba(34, 99, 171, 1);
  background: -moz-linear-gradient(top, rgba(34, 99, 171, 1) 0%, rgba(21, 77, 142, 1) 100%);
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(34, 99, 171, 1)),
    color-stop(100%, rgba(21, 77, 142, 1))
  );
  background: -webkit-linear-gradient(top, rgba(34, 99, 171, 1) 0%, rgba(21, 77, 142, 1) 100%);
  background: -o-linear-gradient(top, rgba(34, 99, 171, 1) 0%, rgba(21, 77, 142, 1) 100%);
  background: -ms-linear-gradient(top, rgba(34, 99, 171, 1) 0%, rgba(21, 77, 142, 1) 100%);
  background: linear-gradient(to bottom, rgba(34, 99, 171, 1) 0%, rgba(21, 77, 142, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2263ab', endColorstr='#154d8e', GradientType=0 );
  color: white;
}

.page-content {
  padding: 9px 7%;
  margin-bottom: 20px;
}

.top-bar {
  margin-top: 10px;
  padding: 10px 2%;
  h1 {
    text-align: center;
    font-weight: bold;
  }
  .float-down-right {
    position: absolute;
    bottom: 0;
  }
  .float-down {
    bottom: 0;
  }
  .right-buttons {
    right: 15px;
  }
}

.edit-button {
  padding-right: 5%;
  margin-right: 5%;
}

.inventory-tabs {
  background-color: #467591;
}

.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.center {
  margin: auto;
  width: 60%;
  border: 3px solid #73ad21;
  padding: 10px;
}
.notes-icon {
  color: rgba(34, 99, 171, 1);
  color: -moz-linear-gradient(top, rgba(34, 99, 171, 1) 0%, rgba(21, 77, 142, 1) 100%);
  color: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(34, 99, 171, 1)),
    color-stop(100%, rgba(21, 77, 142, 1))
  );
  color: -webkit-linear-gradient(top, rgba(34, 99, 171, 1) 0%, rgba(21, 77, 142, 1) 100%);
  color: -o-linear-gradient(top, rgba(34, 99, 171, 1) 0%, rgba(21, 77, 142, 1) 100%);
  color: -ms-linear-gradient(top, rgba(34, 99, 171, 1) 0%, rgba(21, 77, 142, 1) 100%);
  color: linear-gradient(to bottom, rgba(34, 99, 171, 1) 0%, rgba(21, 77, 142, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2263ab', endColorstr='#154d8e', GradientType=0 );
}

.drop-shadow {
  -webkit-box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.15);
}

.login-page-left {
  background: rgba(34, 99, 171, 1);
  background: -moz-linear-gradient(top, rgba(34, 99, 171, 1) 0%, rgba(21, 77, 142, 1) 100%);
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(34, 99, 171, 1)),
    color-stop(100%, rgba(21, 77, 142, 1))
  );
  background: -webkit-linear-gradient(top, rgba(34, 99, 171, 1) 0%, rgba(21, 77, 142, 1) 100%);
  background: -o-linear-gradient(top, rgba(34, 99, 171, 1) 0%, rgba(21, 77, 142, 1) 100%);
  background: -ms-linear-gradient(top, rgba(34, 99, 171, 1) 0%, rgba(21, 77, 142, 1) 100%);
  background: linear-gradient(to bottom, rgba(34, 99, 171, 1) 0%, rgba(21, 77, 142, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2263ab', endColorstr='#154d8e', GradientType=0 );
  color: white;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.login-page-right {
  padding: 10%;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .button-right {
    float: right;
  }
  .button-center {
    text-align: center;
    button {
      width: 50%;
    }
  }
  h1 {
    text-align: center;
  }
}

.table-wrapper {
  > .MuiPaper-root {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    >div>div, >div>div>div {
      height:100%
    }
    height:100%;
  }
}
