.header {
  background-color: #12558f;
  color: white;
  h2,
  h3 {
    padding: 5px;
    vertical-align: middle;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }
  .header-dropdown {
    float: right;
  }
}

.sidebar {
  background-color: #93aab8;
  color: white;
  position: fixed;
  top: 0;
  bottom: 0;

  .sidebar-menu {
    padding-top: 50px;
  }
}
